html {
  font-size: 100%; // 16px
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $bg-color;
  font-family: $text-font;
  font-size: 1.125rem; // 18
  line-height: 1.8;
  color: $text-color;

  @include breakpoint-m {
    font-size: 1.0625rem; // 17
  }
  @include breakpoint-s {
    font-size: 1rem; // 16
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.container__masthead {
  max-width: 60rem; // 960px
}

.container__main, .container__footer {
  max-width: 40rem; // 640px

  @include breakpoint-m {
    max-width: 36rem; // 576px
  }
}