html {
  font-size: 100%; // 16px
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $bg-color;
  font-family: $text-font;
  font-size: 1.125rem; // 18
  line-height: 1.8;
  color: $text-color;

  @include breakpoint-s {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  @include breakpoint-xs {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  @include breakpoint-xxs {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.container-masthead {
  max-width: 60rem;

  @include breakpoint-m {
    max-width: 40rem;
  }
}

.container-main, .container-footer {
  max-width: 40rem;

  @include breakpoint-m {
    max-width: 35rem;
  }
}