
//
// FONTS
//


/* text-font */
// Alegreya Regular
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Alegreya-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Alegreya-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Alegreya-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Alegreya-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Alegreya-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

// Alegreya Italic
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Alegreya-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Alegreya-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Alegreya-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Alegreya-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Alegreya-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

// Alegreya Bold
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Alegreya-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Alegreya-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Alegreya-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Alegreya-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Alegreya-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

// Alegreya Bold Italic
@font-face {
  font-family: 'Alegreya';
  src: url('fonts/Alegreya-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Alegreya-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Alegreya-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Alegreya-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Alegreya-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Alegreya-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}


/* display-font */
// Regular
@font-face {
  font-family: 'Alegreya Sans SC';
  src: url('fonts/AlegreyaSansSC-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSansSC-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSansSC-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSansSC-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSansSC-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSansSC-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

// Regular Italic
@font-face {
  font-family: 'Alegreya Sans SC';
  src: url('fonts/AlegreyaSansSC-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSansSC-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSansSC-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSansSC-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSansSC-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSansSC-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}


/* alt-font */
// Alegreya Sans Regular
@font-face {
  font-family: 'Alegreya Sans';
  src: url('fonts/AlegreyaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

// Alegreya Sans Italic
@font-face {
  font-family: 'Alegreya Sans';
  src: url('fonts/AlegreyaSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSans-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSans-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSans-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

// Alegreya Sans Bold
@font-face {
  font-family: 'Alegreya Sans';
  src: url('fonts/AlegreyaSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

// Alegreya Sans Bold Italic
@font-face {
  font-family: 'Alegreya Sans';
  src: url('fonts/AlegreyaSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/AlegreyaSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AlegreyaSans-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AlegreyaSans-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AlegreyaSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AlegreyaSans-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}


/* monospace-font */
// Liberation Mono Regular
@font-face {
  font-family: 'Liberation Mono';
  src: url('fonts/LiberationMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/LiberationMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/LiberationMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/LiberationMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/LiberationMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/LiberationMono-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}