
//
// FONTS
//


/* text-font */
// Medium
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Rubik-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Rubik-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Rubik-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Rubik-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
// Medium Italic
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Rubik-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Rubik-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Rubik-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Rubik-MediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: italic;
}
// Bold
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Rubik-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Rubik-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Rubik-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Rubik-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
// Bold Italic
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Rubik-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Rubik-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Rubik-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Rubik-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}


/* monospace-font */
// Light
@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoMono-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RobotoMono-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RobotoMono-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoMono-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
// Light Italic
@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RobotoMono-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RobotoMono-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RobotoMono-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RobotoMono-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/RobotoMono-LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
}