.wrapper-footer {
  margin-top: 6rem;
  padding: 1rem 0 1rem;
  font-size: 0.8125rem; // 13px
  border-top: 1px dashed $lightest-color;

  p {
  	display: inline-block;
  }

  @include breakpoint-m {
    margin-top: 4rem;
  }
}