.wrapper__footer {
  margin-top: 6rem;
  padding: 1rem 0 1rem;
  font-size: 0.8125rem; // 13
  border-top: 1px dashed $lightest-color;

  @include breakpoint-l {
    margin-top: 4rem;
  }
  @include breakpoint-xs {
    margin-top: 3rem;
  }
  @include breakpoint-smallest {
  	margin-top: 2rem;
    font-size: 0.75rem; // 12
  }

  p {
    display: inline-block;

    @include breakpoint-xxs {
      display: block;
      text-align: center;
    }

    &:nth-child(2) {
      float: right;
      text-align: right;

      @include breakpoint-xxs {
        float: none;
        text-align: center;
      }
    }
  }

  .ethical-design {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    a {

      &:hover, &:active {
        background: none;
      }
    }

    img {
      width: 8rem;
      height: auto;
    }
  }
}