.wrapper__masthead {
  margin-bottom: 4rem;
  background-color: $darkest-color;

  @include breakpoint-l {
    margin-bottom: 3rem;
  }
  @include breakpoint-xs {
    margin-bottom: 2rem;
  }
  @include breakpoint-smallest {
    margin-bottom: 1.5rem;
  }
}

.site__info {
  padding: 1rem 0;
  float: left;
  width: 33.334%;

  a {
    cursor: pointer;
  }

  @include breakpoint-xl {
    width: 30%;
  }
  @include breakpoint-m {
    width: 21%;
  }
  @include breakpoint-xs {
    width: auto;
  }
  @include breakpoint-xxs {
    width: 50%;
    padding: 0.25rem 0;
  }
}

.site__avatar {
  float: left;
  margin: 0 0.5rem 0 0;
  width: 40px;
  height: 40px;

  @include breakpoint-xl {
    width: 32px;
    height: 32px;
  }
  @include breakpoint-m {
    width: 24px;
    height: 24px;
    margin: 0.25rem 0.375rem 0 0;
  }
}

.site__name {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.125rem;
  line-height: 1.2;

  @include breakpoint-xl {
    font-size: 1rem;
    line-height: 1.1;
  }
  @include breakpoint-l {
    font-size: 0.875rem;
    line-height: 2.3;
  }
  @include breakpoint-s {
    font-size: 0.75rem;
    line-height: 2.7;
  }
  @include breakpoint-xs {
    display: none;
  }
  @include breakpoint-xxs {
    display: block;
  }
}

.site__description {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;

  @include breakpoint-xl {
    font-size: 0.875rem;
    line-height: 1.1;
  }
  @include breakpoint-l {
    display: none;
  }
}

.site__nav {
  float: right;

  @include breakpoint-xxs {
    width: 100%;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:first-child {
        float: right;
        margin-left: 1rem; 
        padding-left: 1rem;
        border-left: 1px solid $dark-color;
        
        @include breakpoint-s {
          margin-left: 0.5rem; 
        }

        @include breakpoint-xxs {
          position: absolute;
          top: 0;
          right: 0.5rem;
          margin-left: 0; 
          padding-left: 0;
          border-left: none;
        }

        a {

          @include breakpoint-xxs {
            padding: 0;
            line-height: 2.5rem;
          }

        }
      }

      a {
        display: inline-block;
        padding: 0 0.375rem;
        color: $light-color;
        font-size: 0.875rem;
        line-height: 4.5rem;
        border: none;

        @include breakpoint-xl {
          padding: 0 0.25rem;
          line-height: 4rem;
        }
        @include breakpoint-m {
          padding: 0 0.125rem;
        }
        @include breakpoint-s {
          font-size: 0.75rem;
        }
        @include breakpoint-xxs {
          line-height: 3rem;
          padding: 0 0.25rem;
        }

        &:hover {
          color: white;
          background: none;
          border: none;

          @include breakpoint-l {
            background-color: $dark-color;
          }
        }

        &:active {
          color: $medium-color;
          background: none;
          border: none;
        }
      }
    }
  }
}