.index > .post {
  margin: 0 0 1em;
}

.post-title--index {
  font-size: 1em;

  a {
    color: $text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $link-color;
      background-color: $lightest-color;
      text-decoration: none;
    }

    &:active {
      color: $link-color--active;
      background-color: $lighter-color;
      text-decoration: none;
    }
  }
}

.post-date--index {
    margin: 0;
}