.header__section {
	margin: 4rem 0 0 0;
	border-top: 1px dashed $medium-color;
}

/* Titles */
.title {
	padding: 0;
	margin: 0 0 2rem 0;
  font-size: 1.125rem;
}
/* Page title */
.title__page {
  color: $text-color--light;
}
/* Section title */
.title__section {
	margin: 2rem 0 0.5rem;
  color: $text-color--lighter;
}