/* Post header */
.post-header {
  margin: 0 0 1.5rem;
  border-bottom: 1px dotted $medium-color;
}

/* Post title */
.post-title {
  padding: 0;
  font-size: 1.5rem; // 24
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;

  a {
    padding: 0;
    font-family: $display-font;
    color: $text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $link-color;
      background-color: none;
      border-bottom: 3px solid $link-color;
    }

    &:active {
      color: $link-color--active;
      background-color: none;
      border-bottom: 2px solid $link-color--active;
    }
  }
}

/* Post subtitle */
.post-subtitle {
  padding: 0.5rem 0;
  line-height: 1.4;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  padding: 1rem 0 0.5rem;
  font-family: $display-font;
  line-height: 1.4;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem; // 24
}

h2 {
  font-size: 1.375rem; // 22
}

h3 {
  font-size: 1.25rem; // 20
}

h4 {
  font-size: 1.125rem; // 18
}

h5 {
  font-size: 1.125rem; // 18
  font-style: italic;
}

h6 {
  font-size: 1rem; // 16
}

/* Paragraph */
p {
  padding: 0 0 0.5rem;
  letter-spacing: -0.3px;
}

/* Links */
a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $link-color;
    background-color: $lighter-color;
  }

  &:active {
    color: $link-color--active;
    background-color: $light-color;
  }
}

p, li, ul, ol {

  a {
    padding: 0.125rem 0;
    border-bottom: 1px solid $medium-color;

    &:hover {
      color: $link-color;
      background-color: $lightest-color;
      border-bottom: 3px solid $link-color;
    }

    &:active {
      color: $link-color--active;
      background-color: $lighter-color;
      border-bottom: 2px solid $link-color--active;
    }
  }
}

/* Lists */
ul, ol {
  margin: 0 0 0.5rem 0;
  padding-left: 2rem;
  line-height: 1.6;

  ul, ol {
    color: $text-color--light;

    ul, ol {
      color: $text-color--lighter;

      ul, ol {
        color: $text-color--lightest;
      }
    }
  }

  li {
    padding-top: 0.25rem;

    @include breakpoint-xs {
      padding-top: 0.25rem;
    }
  }

  li:first-child, ul li, ol li {
    padding-top: 0;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

/* Modifiers */
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

/* Quotes */
blockquote {
  margin: 0.5rem 0 0.5rem 1.5rem;
  padding: 0 0 0 1.5rem;
  font-style: italic;
  border-left: 1px solid $medium-color;

  p {
    padding: 0;
  }
}

/* Code */
code {
  background-color: $lightest-color;
  font-family: $mono-font;
  font-size: 1.125rem;
}

/* Images */
img {
  max-width: 100%;
}

// Images captions style
img + em {
  display: block;
  padding: 0 0 0.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

/* Horizontal line */
hr {
  margin: 2rem 0 0;
  border: 0;
  border-bottom: 1px dotted $medium-color;
}

/* Post Metadata */
// Wrapper
.post-metadata {
  margin: 4rem 0 6rem;
  padding: 1rem 0 0;
  border-top: 1px dotted $medium-color;

  h1 {
    font-size: 1.125rem;
  }

  p {
    font-family: $mono-font;
    font-size: 0.875rem;
  }
}

// Post date
.post-date {
  padding: 0 0 0.5rem;
  font-size: 0.875rem;
  font-family: $mono-font;
}

// Post updates
.post-updates {
  padding: 0 0 0.5rem;
}

// Post tags
.post-tags {
  padding: 0 0 0.5rem;

  p {
    margin: 0.75rem 0 0; 
  }

  a {
    padding: 0.625rem 1rem 0.625rem;
    color: white;
    background-color: $darkest-color;
    border: none;
    word-break: break-all;

    &:hover {
      color: $text-color;
      background-color: $medium-color;
      border: none;
    }

    &:active {
      color: white;
      background-color: $mediumDark-color;
      border: none;
    }
  }
}

/* Text selection */
// Specify the color of the text selection
::-moz-selection {
  color: white;
  background: $darkest-color;
}
::selection {
  color: white;
  background: $darkest-color;
}

.comments {
  margin-top: 1rem;
}