/* Post header */
.post-header {
  margin: 0 0 1.5rem;
  border-bottom: 1px dotted $medium-color;
}

/* Post title */
.post-title {
  padding: 0 0 0.25rem;
  font-size: 1.5rem; // 24
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;

  a {
    padding: 0;
    font-family: $display-font;
    color: $text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $link-color;
      background-color: none;
      border-bottom: 3px solid $link-color;
    }

    &:active {
      color: $link-color--active;
      background-color: none;
      border-bottom: 2px solid $link-color--active;
    }
  }
}

/* Post subtitle */
.post-subtitle {
  padding: 0 0 0.25rem;
  line-height: 1.4;
  font-weight: 500;
}

/* Post Metadata */
// Wrapper
.post-metadata {
  margin: 4rem 0 0;
  padding: 1rem 0 0;
  border-top: 1px dotted $medium-color;

  h1 {
    font-size: 1.125rem;
  }

  p {
    font-family: $mono-font;
    font-size: 0.875rem;
  }
}

// Post date
.post-date {
  padding: 0 0 1rem;
  font-family: $mono-font;
  font-size: 0.875rem;
  line-height: 1.4;
}

// Post updates
.post-updates {
  padding: 0 0 0.5rem;
}

// Post tags
.post-tags {
  padding: 0 0 0.5rem;

  p {
    margin: 0.75rem 0 0; 
  }

  a {
    padding: 0.625rem 1rem 0.625rem;
    color: white;
    background-color: $darkest-color;
    border: none;
    word-break: break-all;

    &:hover {
      color: $text-color;
      background-color: $medium-color;
      border: none;
    }

    &:active {
      color: white;
      background-color: $mediumDark-color;
      border: none;
    }
  }
}

/* Comments */
.comments {
  margin-top: 1rem;
}