/* Post header */
.header__post {
  margin: 0 0 1.5rem;
  border-bottom: 1px dashed $light-color;

  @include breakpoint-xxs {
    margin: 0 0 1rem;
  }
}

/* Post title */
.title__post {
  padding: 0 0 0.25rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;

  a {
    padding: 0;
    font-family: $display-font;
    color: $text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $link-color;
      background-color: none;
      border-bottom: 3px solid $link-color;
    }

    &:active {
      color: $link-color--active;
      background-color: none;
      border-bottom: 2px solid $link-color--active;
    }
  }
}

/* Post subtitle */
.subtitle__post {
  padding: 0 0 0.25rem;
  line-height: 1.4;
  font-weight: 500;
}

/* Post Metadata */
// Post informations (category, date)
.informations__post {
  padding: 0 0 1rem;
  font-family: $mono-font;
  font-size: 0.875rem;
  line-height: 1.4;

  @include breakpoint-xxs {
    font-size: 0.8125rem;
  }

  a {
    border: none;

    &:hover {
      border: none;
    }

    &:active {
      border: none;
    }
  }
}

// Post updates
.updates__post {
  padding: 0 0 0.5rem;

  p {
    font-family: $mono-font;
    font-size: 0.875rem;

    @include breakpoint-m {
      font-size: 0.75rem;
    }
  }
}

// Post tags
.tags__post {
  padding: 0 0 0.5rem;

  p {
    margin: 0.75rem 0 0;
    font-family: $mono-font;
    font-size: 0.875rem;

    @include breakpoint-m {
      font-size: 0.75rem;
    }
  }

  a {
    display: inline-block;
    margin: 0 0 0.5rem 0;
    padding: 0.625rem 1rem 0.625rem;
    color: white;
    background-color: $darkest-color;
    border: none;
    word-break: break-word;

    &:hover {
      color: $text-color;
      background-color: $medium-color;
      border: none;
    }

    &:active {
      color: white;
      background-color: $mediumDark-color;
      border: none;
    }
  }
}

// Post copyright
.copyright__post {

  margin-top: 1rem;

  p {
    font-size: 0.8125rem;
    color: $text-color--lighter;
    text-align: center;
  }
}

// Post share buttons
.share__post {
  padding: 0 0 0.5rem;

  p {
    margin: 0.75rem 0 0;
    font-family: $mono-font;
    font-size: 0.875rem;

    @include breakpoint-m {
      font-size: 0.75rem;
    }
  }

  a {
    display: inline-block;
    margin: 0 0 0.5rem 0;
    padding: 0.625rem 1rem 0.625rem;
    color: $text-color;
    background-color: $light-color;
    border: none;
    word-break: break-word;

    &:hover {
      color: $text-color--light;
      background-color: $lighter-color;
      border: none;
    }

    &:active {
      color: $text-color--lighter;
      background-color: $lightest-color;
      border: none;
    }
    &::after {
      content: none;
      padding-left: 0;
    }
  }
}

/* Comments */
.comments__post {
  margin-top: 1rem;
}