// Colors
$bg-color: rgb(250,250,250);
// Text
$text-color--lightest: rgb(140,140,140);
$text-color--lighter: rgb(120,120,120);
$text-color--light: rgb(80,80,80);
$text-color: rgb(40,40,40);
// Links
$link-color: rgb(20,20,20);
$link-color--active: rgb(0,0,0);
$link-color--visited: rgb(110,0,200);
// Shades
$lightest-color: 			rgb(240,240,240);
$lighter-color: 			rgb(230,230,230);
$light-color: 				rgb(220,220,220);
$medium-color: 				rgb(180,180,180);
$mediumDark-color: 		rgb(140,140,140);
$dark-color: 					rgb(80,80,80);
$darker-color: 				rgb(60,60,60);
$darkest-color: 			rgb(40,40,40);

// Code highlights
$highlight-color--light-grey: rgb(160,150,150);
$highlight-color--grey: 			rgb(120,110,110);
$highlight-color--dark-grey: 	rgb(80,70,70);
$highlight-color--blue: 			#2e70b8;
$highlight-color--purple: 		#7d2eb8;
$highlight-color--pink: 			#bd2f93;
$highlight-color--red: 				#d2353e;
$highlight-color--orange: 		#d86b36;
$highlight-color--yellow: 		#d8b236;
$highlight-color--citrus: 		#aecb33;
$highlight-color--green: 			#41bb2f;
$highlight-color--turquoise: 	#2eb8b8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Fonts
$text-font: 'Rubik', Arial, sans-serif;
$display-font: 'Rubik', Arial, sans-serif;
$mono-font: 'Roboto Mono', monospace;
