
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$text-color: rgb(60,60,60);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$text-font: serif;
$display-font: serif;
$alt-font: sans-serif;
$monospace-font: monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}