<!DOCTYPE html>
<html>
  <head>
    <title>æ - {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  
  <body>
    <!-- Header -->
    <div class="wrapper__masthead">
      <div class="container container__masthead">
        <header class="clearfix">
          <div class="site__info">
            <a href="{{ site.baseurl }}/">
              <img class="site__avatar" src="/images/AltEscape_SiteHeader_40px_neg@3x.png">
              <h1 class="site__name">{{ site.name }}</h1>
              <h2 class="site__description">{{ site.description }}</h2>
            </a>
          </div>
          <nav class="site__nav">
            <ul>
              <li><a href="{{ site.baseurl }}/about">About</a></li>
              {% for category in site.categories %}
                <li><a href="/categories/{{ category | first }}/">{{ category | first | capitalize | replace: "-", " " }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </header>
      </div>
    </div>
    <!-- Content -->
    <div id="main" role="main" class="container container__main">
      {{ content }}
    </div>
    <!-- Footer -->
    <div class="wrapper__footer">
      <div class="container container__footer">
        <footer>
          <p>© {{ 'now' | date: "%Y" }} {{ site.name }} <a href="https://github.com/alt-escape/alt-escape.github.io/blob/master/LICENSE" target="_blank">MIT License</a></p>
          <p class="util--float-right">Hosted on <a href="https://github.com/alt-escape/alt-escape.github.io" target="_blank">Github</a></p>
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>