---
layout: default
---
<!-- Post DOM -->
<article class="post">
  <div class="post-header">
    <h1 class="post-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    <div class="post-date">{{ page.date | date: "%e %B %Y" }} - {{ page.date | date: "%H:%M" }}</div>
  </div>
  <div class="entry">
    {{ content }}
  </div>
  <div class="post-metadata">
    {% if page.updates.size > 0 %}
      <div class="post-updates">
        <h1>Mises à jour</h1>
        {% for update in page.updates %}
          <p>{{ update.date | date: "%e %B %Y" }} - {{ update.date | date: "%H:%M" }} — {{ update.description }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% if page.tags.size > 0 %}
    <div class="post-tags">
      <h1>Tags</h1>
      <p>
      {% for tag in page.tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
      {% endfor %}
      </p>
    </div>
    {% endif %}
  </div>
</article>