---
layout: default
---

<!-- Tags system without plugin -->
{% assign post = page %}
{% if post.tags.size > 0 %}
  {% capture tags_content %}{% endcapture %}
  {% for post_tag in post.tags %}
    {% assign tag = site.data.tags[post_tag] %}
    {% if tag %}
      {% capture tags_content_temp %}{{ tags_content }}<a href="/tags/{{ tag.name }}/">{{ tag.name }}</a>{% if forloop.last == false %}{% endif %}{% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<!-- Post DOM -->
<article class="post">
  <div class="post-header">
    <h1 class="post-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    <h2 class="post-subtitle">{{ post.subtitle }}</h2>
    <div class="post-date">{{ page.date | date: "%e %B %Y" }} - {{ page.date | date: "%H:%M" }}</div>
  </div>
  <div class="entry">
    {{ content }}
  </div>
  <div class="post-metadata">
    <p class="post-tags">{{ tags_content }}</p>
  </div>
</article>
