---
layout: default
---
<!-- Post DOM -->
<article class="post">
  <div class="header__post">
    <h1 class="title__post"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    <h2 class="subtitle__post">{{ page.subtitle }}</h2>
    <p class="informations__post">
      {% for category in page.categories %}
        <a href="/categories/{{ category }}/">{{ category | capitalize }}</a>
      {% endfor %} - {% include helper_date-page-french.html %}
    </p>
  </div>
  <div class="entry">
    {{ content }}
  </div>
  <div class="header__section">
    {% if page.updates.size > 0 %}
      <div class="updates__post">
        <h1 class="title title__section">Mises à jour</h1>
        {% for update in page.updates %}
          <p>{% include helper_date-update-french.html %} - {{ update.date | date: "%H:%M" }} — {{ update.description }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% if page.tags.size > 0 %}
    <div class="tags__post">
      <h1 class="title title__section">Tags</h1>
      <p>
      {% for tag in page.tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
      {% endfor %}
      </p>
    </div>
    {% endif %}
  </div>
</article>